.books {
  padding: 30px;
  display: flex;
  overflow-y: auto;

  &__book {
    min-width: 500px;
    margin-right: 20px;
    margin-top: 20px;
  }

  .MuiPaper-root {
    min-width: 360px;
    margin-right: 20px;
  }
}
